%h2 About Rachel Schmitz (M.A.)
.portrait
  =image_tag('images/rachel_portrait.jpg')
.info
  %p As a sociologist, my focus on Women's &amp; Gender Studies has shaped not only my academic career, but also served to focus my research and hone my teaching. My 
  =link_to "dissertation research", "#research", class: 'swap'
  &nbsp;is currently in progress, in which I have begun to qualitatively compare and contrast life trajectories of non-normative sexual identity young adults, specifically concerning the areas of homelessness versus college careers

  %h2 Career Goals
  %p.todo content forthcoming