.portrait
  =image_tag('images/portrait.jpg')
.info
  %h2.callout Rachel M. Schmitz, M.A.
  %p
    As a sociologist, my emphasis on Women's & Gender Studies has shaped my academic career through a research focus on the dynamics of gender and sexuality in social contexts and a teaching trajectory that underscores both gender and sexuality as sources of social inequality.
  %p
    My
    =link_to "dissertation research", "#research", class: 'swap bold'
    qualitatively compares and contrasts life trajectories of lesbian, gay, bisexual and transgender young adults in the varying social contexts of the college environment and homelessness.

  %h2 Research and Teaching Interests:
  %p
    Gender, Sexuality, Identity, Intersectionality, Family Diversity, Homeless Youth and Young Adults, Social Inequality, Qualitative Methods

  %h2 Career:
  %p
    Upon receiving my PhD in Sociology with a specialization in Women's and Gender Studies from University of Nebraska - Lincoln (May 2016), I will begin work as a tenure-track assistant professor of Sociology for the
    =link_to "Sociology &amp; Anthropology department of the Univeristy of Texas - Rio Grande Valley.", "http://www.utrgv.edu/en-us/academics/colleges/liberal-arts/sociology-and-anthropology/index.htm", target: "_blank"
  %p
    =link_to "Curriculum Vita (Click to download)", "/images/rachelschmitz-cv.pdf", target: "_blank", class: "cv-download bold"

  %h2 Recent News:
  %p
    =link_to "Study examines gender roles in parenting magazines", "http://news.unl.edu/newsrooms/unltoday/article/study-examines-gender-roles-in-parenting-magazines/", target: "_blank"
    , Jan. 29, 2016
    %br
    =link_to "UNL Presidential Fellowship Award", "http://cas.unl.edu/schmitz-earns-presidential-graduate-fellowship", target: "_blank"
    , July 7, 2015