.portrait
  =image_tag('images/Rachel_portrait.jpg')
.info
  %h2 Rachel M. Schmitz, M.A.
  %p 
    As a sociologist, my focus on Women's &amp; Gender Studies has shaped not only my academic career, but also served to focus my research and hone my teaching. My
    =link_to "dissertation research", "#research", class: 'swap'
    is currently in progress, in which I have begun to qualitatively compare and contrast life trajectories of non-normative sexual identity young adults, specifically concerning the contexts of homelessness and the college environment.

  %h2 Career Goals
  %p
    Upon completing my graduate program and receiving my PhD in Sociology with a specialization in Women's and Gender Studies (tentatively May 2016), I plan to pursue a full-time, tenure track faculty position at a teaching focused university.