.portrait
  =image_tag('images/portrait.jpg')
.info
  %h2.callout Rachel M. Schmitz, M.A.
  %p
    As a sociologist, my emphasis on Women's & Gender Studies has shaped my academic career through a research focus on the dynamics of gender and sexuality in social contexts and a teaching trajectory that underscores both gender and sexuality as sources of social inequality.
  %p
    My
    =link_to "dissertation research", "#research", class: 'swap bold'
    , qualitatively compares and contrasts life trajectories of lesbian, gay, bisexual and transgender young adults in the varying social contexts of the college environment and homelessness.

  %h2 Areas of Research and Teaching Interests

  %p
    Gender, Sexuality, Identity, Intersectionality, Family Diversity, Homeless Youth and Young Adults, Social Inequality, Qualitative Methods

  %h2 Career Goals
  %p
    Upon completing my graduate program and receiving my PhD in Sociology with a specialization in Women's and Gender Studies (May 2016), I plan to pursue a full-time, tenure track faculty position.

  %p
    =link_to "Curriculum Vita (Click to download)", "/images/rachelschmitz-cv.pdf", target: "_blank", class: "cv-download bold"