.portrait
  =image_tag('images/portrait.jpg')
.info
  %h2 Rachel M. Schmitz, M.A.
  %p 
    As a sociologist, my focus on Women's & Gender Studies has shaped my academic career through a research focus on gendered social contexts and a teaching trajectory that emphasizes gender as a source of social inequality. My 
    =link_to "dissertation research", "#research", class: 'swap'
    , which is currently in progress, qualitatively compares and contrasts life trajectories of lesbian, gay, bisexual and transgender young adults in the varying social contexts of the college environment and homelessness.

  %h2 Career Goals
  %p
    Upon completing my graduate program and receiving my PhD in Sociology with a specialization in Women's and Gender Studies (tentatively May 2016), I plan to pursue a full-time, tenure track faculty position.