.contact-info
	.logo-unl
		= link_to "UNL", "http://soc.unl.edu", class: "unl-link"
	.name Rachel M. Schmitz, M.A.
	.title PhD candidate, (All But Dissertation)
	.dept Department of Sociology
	.school University of Nebraska-Lincoln
	%br
	.office 734 Oldfather
	.mail
		Lincoln, NE 68588
	%br
	.cell
		Cell:
		= link_to "(402) 640-0336", "tel:+14026400336"
	.phone.fax 
		Fax:
		= link_to "(402) 472-6070", "fax:+14024726070"
	
	.email
		Email: 
		= link_to "raschm02@gmail.com", "mailto:raschm02@gmail.com"

.image-right
	=image_tag('/images/mind-connect.png')