.todo what content do you want?

.contact-info
	.logo (unl logo here?)
	.name Rachel M. Schmitz, M.A.
	.title PhD Graduate Student
	.dept Department of sociology
	.school University of Nebraska-Lincoln
	%br
	.office 734 Oldfather
	.mail
		PO Box 880324
		%br
		Lincoln, NE 68588
	%br
	.phone 
		Office:
		= link_to "(402) 472-3631", "tel:+14024723631"
	.cell
		Cell:
		= link_to "(402) 640-0336", "tel:+14026400336"
	.email
		Email: 
		= link_to "raschm02@gmail.com", "mailto:raschm02@gmail.com"
