.banner

%h1.centered 
	=link_to "Curriculum Vita", "/images/rms-cv.pdf", target: "_blank"
%h2.allcaps Education
.education
	%p 
		%span.date May 2016 (Expected)
		%br
		%b Ph.D. 
		, Sociology, Women’s and Gender Studies Specialization:
		%br
		University of Nebraska-Lincoln, Lincoln, NE
		%br
		Advisor: Dr. Kimberly A. Tyler
		%br
		Dissertation: 
		%i On the Street and On Campus: A Comparison of Life Course Trajectories among Homeless and College Lesbian, Gay, Bisexual and Transgender Young Adults

	%p
		%span.date May 2013
		%br
		%b M.A. 
		, Sociology Women’s and Gender Studies Specialization: 
		%br
		University of Nebraska-Lincoln
		%br
		Advisor: Dr. Kimberly A. Tyler
		%br
		Master’s Thesis:
		%i Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young Adult Homelessness

	%p
		%span.date December 2009
		%br
		%b B.A.
		, Sociology and Spanish, English Minor: 
		%br 
		Wayne State College, Wayne, NE
		%br 
		Advisor: Dr. Monica Snowden
		%br
		Undergraduate Thesis: 
		%i Living Latino/a in the Midwest: An Analysis of Cultural Perspectives Through the Lens of Latino-owned Businesses

%hr
%h2.allcaps Professional Development

%h3 Research
.development
	%p 
		%span.date Summer 2012
		%br
		New Investigator Collaborative Series grant workshop 
	%p 
		%span.date Spring 2012 
		%br
		Professional Development Seminar, UNL 
	%p 
		%span.date Fall 2011
		%br
		Collaborative Institutional Training Initiative (CITI), UNL 
		%br
		Fall 2011, Responsible Conduct in Research Training, UNL 
	%p 
		%span.date Summer 2009
		%br
		Northeast Nebraska Child Advocacy Center Undergraduate Internship

%h3 Teaching
.development
	%p 
		%span.date Spring 2014
		%br
		MSS Gender Diversity and Sexuality Studies Certificate 
	%p 
		%span.date Spring 2013
		%br
		MSS Preparing Future Faculty Certificate 
	%p 
		%span.date Fall 2012
		%br
		22nd Annual Campus-wide Workshops for Graduate Teaching Assistants 
	%p 
		%span.date Fall 2011
		%br
		21st Annual Campus-wide Workshops for Graduate Teaching Assistants
		%br
		Teaching Sociology Seminar, UNL 

%hr
%h3 Professional Memberships
%ul
	%li 
		= link_to "Sociologists for Women in Society (SWS)", "https://www.socwomen.org/", target: "_blank"
	%li 
		= link_to "American Sociological Association (ASA)", "http://www.asanet.org/", target: "_blank"
	%li 
		=link_to "American Men’s Studies Association (AMSA)", "http://mensstudies.org/", target: "_blank"
	%li 
		= link_to "Midwest Sociological Society (MSS)", "http://www.themss.org/", target: "_blank"
	%li 
		=link_to "Nebraska Association of Sociology Graduate Students (NASGS)", "http://soc.unl.edu/get-involved", target: "_blank"

%hr
%h2 Papers Presented/To Be Presented At Conferences
.papers
	%p 
		%span.date 2015
		%br
		Tyler, Kimberly A. and 
		%b Rachel M. Schmitz.
		%i “Alcohol Expectancy, Substance Use and Sexual Victimization among Female and Male College Students.” 
		American Sociological Association Annual Meeting. Chicago, IL. August 22-25.

	%p 
		%span.date 2015
		%br
		Tyler, Kimberly A. and 
		%b Rachel M. Schmitz. 
		%i “Protective Behavioral Strategies and Alcohol Use among  Female and Male College Students.” 
		American Sociological Association Annual Meeting. Chicago, IL. August 22-25.

	%p 
		%span.date 2015
		%br
		%b Schmitz, Rachel M. 
		and Kimberly A. Tyler. 
		%i “Homeless Young People’s Experiences of Caregiver Rejection.” 
		Alpha Kappa Delta Qualitative Symposium. University of Nebraska-Omaha. October 30.

	%p 
		%span.date 2014
		%br
		%b Schmitz, Rachel M. 
		%i “Reshaping Constructions of Men as Fathers: A Content Analysis of Formulations of Fatherhood in Parenting Magazines.” 
		American Sociological Association Annual Meeting. San Francisco, CA. August 16-19.

	%p 
		%span.date 2014
		%br
		%b Schmitz, Rachel M. 
		Discussant for Invited Session on Homelessness. American Sociological Association Annual Meeting. San Francisco, CA. August 16-19.

	%p 
		%span.date 2014
		%br
		%b Schmitz, Rachel M. 
		and Elizabeth A. Richardson. 
		%i “Transcending Gender: Men’s Experiences Taking Women’s and Gender Studies Courses.” 
		Midwest Sociological Society Annual Meeting. Omaha, NE. April 3-6.

	%p 
		%span.date 2014
		%br
		%b Schmitz, Rachel M.
		and Elizabeth A. Richardson. Organizer of formal paper session 	
		%i “Towards the Inclusion of Men and Masculinities in Gender Studies.”
		Midwest Sociological Society Annual Meeting. Omaha, NE. April 3-6.

	%p 
		%span.date 2014
		%br
		%b Schmitz, Rachel M. 
		and Kimberly A. Tyler. 
		%i “Homeless Young People’s Gendered Experiences of Caregiver Rejection.” 
		Midwest Sociological Society Annual Meeting. Omaha, NE. April 3-6.

	%p 
		%span.date 2014
		%br
		%b Schmitz, Rachel M. 
		%i “Transcending Gender: Men’s Experiences Taking Women’s and Gender Studies Courses.” 
		American Men’s Studies Association Annual Meeting. Tacoma, WA. March 27-29.

	%p 
		%span.date 2014
		%br
		%b Schmitz, Rachel M. 
		Moderator of Session on Masculinities. American Men’s Studies Association Annual Meeting. Tacoma, WA. March 27-29.

	%p 
		%span.date 2013
		%br
		Tyler, Kimberly A. and 
		%b Rachel M. Schmitz. 
		%i “Effects of Abusive Parenting, Caretaker Arrests, and Delinquent Behavior on Dating Violence Perpetration among Homeless Young Adults.”
		American Society for Criminology Meetings. Atlanta, GA. November 20-23.

	%p 
		%span.date 2013
		%br
		%b Schmitz, Rachel M. 
		%i “In The Numerical Minority: Men’s Experiences Navigating Women’s and Gender Studies Courses.”
		Men at Nebraska Poster Presentation. University of Nebraska-Lincoln. November 7.

	%p 
		%span.date 2013
		%br
		%b Schmitz, Rachel M. 
		%i “Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young Adult Homelessness.” 
		Research Fair Poster Presentation. University of Nebraska-Lincoln. April 10.

	%p 
		%span.date 2013
		%br
		%b Schmitz, Rachel M. 
		%i “Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young Adult Homelessness.” 
		Midwest Sociological Society Annual Meeting. Chicago, IL. March 27-30.

	%p 
		%span.date 2013
		%br
		%b Schmitz, Rachel M.
		and Kimberly A. Tyler. Organizer of formal paper session 
		%i “Exploring the Realm of Dating and Partner Violence and its Social 	Ramifications.” 
		Midwest Sociological Society Annual Meeting. Chicago, IL. March 27-	30.

	%p 
		%span.date 2013
		%br
		%b Schmitz, Rachel M. 
		%i “’Forging Elite Fitness’: Exploring the CrossFit Phenomenon Through a Gendered Lens.” 
		No Limits Student Conference. University of Nebraska-Lincoln. March 1-2.

	%p 
		%span.date 2012
		%br
		%b Schmitz, Rachel M.
		, Patrick Habecker, Alexis Swendener and Sarah Malone. 
		%i “Transforming Introductory Sociology Discussion Sections to a Mixed Mode Electronic Format.” 
		Southern Sociological Society Annual Meeting. New Orleans, LA. March 21-24.

	%p 
		%span.date 2012
		%br
		%b Schmitz, Rachel M. 
		%i “All You Need is Sex: Charlotte Perkins Gilman, Feminist Pragmatism and Contemporary Mass Media.” 
		Midwest Sociological Society Annual Meeting. Minneapolis, MN. March 29-April 1.

	%p 
		%span.date 2012
		%br
		%b Schmitz, Rachel M.
		, Patrick Habecker, Alexis Swendener and Sarah Malone. 
		%i “A Comparison of Recitation Section Delivery Methods: Classroom vs. Online.” 
		Midwest Sociological Society Annual Meeting. Minneapolis, MN. March 29-April 1.

	%p 
		%span.date 2012
		%br
		Melander, Lisa A., Kimberly A. Tyler and 
		%b Rachel M. Schmitz. 
		%i “Substance Use Behavior among Homeless Youth and Their Social Networks.” 
		Midwest Sociological Society Annual Meeting. Minneapolis, MN. March 29-April 1.

	%p 
		%span.date 2009
		%br
		%b Schmitz, Rachel M.
		%i “Living Latino/a in the Midwest: An Analysis of Cultural Perspectives Through the Lens of Latino-owned Businesses.” 
		Nebraska Undergraduate Sociological Symposium. University of Nebraska-Kearney. 

%hr
%h2.allcaps Departmental Presentations
.presentations
	%p 
		%span.date 2012
		%br
		%b Schmitz, Rachel M. 
		%i “Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young Adult Homelessness.” 
		Sociology Departmental Poster Session, 	UNL. September 7.
	%p 
		%span.date 2012
		%br
		%b Schmitz, Rachel M.
		%i “All You Need is Sex: Charlotte Perkins Gilman, Feminist Pragmatism and Contemporary Mass Media” 
		Sociology Departmental Colloquium, UNL. March 15.

%hr
%h2.allcaps Academic Service
.service
	%p 
		%span.date Spring 2014
		%br
		Academic Undergraduate Letter of Recommendation 
	%p
		%span.date Fall 2013 - Spring 2014
		%br
		NASGS Vice-President 

	%h3 Ad Hoc Journal Reviews
	.reviews
		%p 
			%span.date Spring 2015
			%br
			Journal of Interpersonal Violence
		%p 
			%span.date Spring 2014
			%br
			World Medical & Health Policy
		%p 
			%span.date Fall 2013
			%br
			Sociological Inquiry
		%p 
			%span.date Spring 2013
			%br
			Sex Roles
		%p 
			%span.date Fall 2012
			%br	
			Qualitative Sociology
			%br
			Nebraska Undergraduate Sociological Symposium (NUSS)
		%p 
			%span.date Fall 2013
			%br
			Graduate Student Panel at Midland University
		%p 
			%span.date Fall 2012 
			%br
			Graduate Student Panel at Wesleyan University

%hr
%h2.allcaps Community Service
%p 
	%span.date Spring 2015
	%br
	Volunteered as a Street Outreach worker for at-risk youth agency 
	=link_to "CEDARS.", "http://www.cedars-kids.org/helping_kids/outreach.html", target: "_blank"
	Lincoln, NE

%hr
%h2.allcaps Honors and Achievements
.honors
	%p 
		%span.date Spring 2014
		%br
		Department of Sociology Graduate Student Paper Award 
		%br 
		Cheryl Applegate Instructor Award from UNL Sociology Department 
		%br 
		UNL Office of Graduate Studies Travel Award 
		%br 
		Alice Frost Howard Fellowship from UNL Sociology Department 
		%br 
		Joyce Hertzler Award from UNL Sociology Department 
	%p 
		%span.date Spring 2013
		%br
		Nicholas Babchuk Research Award from UNL Sociology Department
		%br 
		Dean’s Fellowship from UNL 
		%br 
		Karen Dunning Women's and Gender Studies Award
	%p 
		%span.date Fall 2012-Spring 2013
		%br
		Graduate Research Assistantship 
	%p 
		%span.date Spring 2012
		%br
		J.J. and Eleanor S. Ogle Summer Fellowship 
	%p 
		%span.date Fall 2011-Spring 2013
		%br 
		Chancellor’s Fellowship from UNL 
	%p 
		%span.date Fall 2011-Spring 2012
		%br
		Graduate Teaching Assistantship 
	%p 
		%span.date Spring 2010
		%br
		Second place in the Undergraduate Student Paper Competition for MSS 
	%p 
		%span.date Fall 2009
		%br
		First place in paper competition at NUSS 
	%p 
		%span.date Spring 2009
		%br
		Outstanding Student in Sociology from Wayne State College
		%br
		Paper competition award from the Midwest Sociologists for Women in Society 
	%p 
		%span.date Spring 2008-Spring 2009
		%br
		Sigma Delta Pi Honor Society
		%br
		Pi Gamma Mu Honor Society 
	%p 
		%span.date Fall 2009-Fall 2010
		%br
		Phi Kappa Phi Honor Society 
	%p 
		%span.date Fall 2009
		%br
		J.G.W. Lewis Memorial Scholarship from WSC 
	%p 
		%span.date Fall 2008-Spring 2009
		%br
		Wayne State College (WSC) Sociology Program Scholarship
		%br
		Special Abilities Spanish Scholarship from WSC
		%br
		Special Abilities Language and Literature Scholarship from WSC 
	%p 
		%span.date Fall 2006-Spring 2007
		%br
		Carhart Scholarship from WSC 
