.todo html version and a pdf link?
.todo links to publications/pdfs

%h1 Curriculum Vita

%h2 EDUCATION

.todo
	May 2016 (Expected)
	Ph.D., Sociology, Women’s and Gender Studies Specialization:
	University of Nebraska-Lincoln, Lincoln, NE 
	Advisor: Dr. Kimberly A. Tyler
	Dissertation: On the Street and On Campus: A Comparison of Life Course Trajectories among Homeless and College Lesbian, Gay, Bisexual and Transgender Young Adults

	May 2013
	M.A., Sociology Women’s and Gender Studies Specialization: University of Nebraska-Lincoln
	Advisor: Dr. Kimberly A. Tyler
	Master’s Thesis: Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young Adult Homelessness

	December 2009
	B.A., Sociology and Spanish, English Minor: Wayne State College, 
	Wayne, NE 
	Advisor: Dr. Monica Snowden
	Undergraduate Thesis: Living Latino/a in the Midwest: An Analysis of Cultural Perspectives Through the Lens of Latino-owned Businesses


%h2 PROFESSIONAL DEVELOPMENT

%h3 Research
%ul
	%li Summer, 2012 New Investigator Collaborative Series grant workshop 
	%li Spring, 2012 Professional Development Seminar, UNL 
	%li Fall 2011, Collaborative Institutional Training Initiative (CITI), UNL 
	%li Fall 2011, Responsible Conduct in Research Training, UNL 
	%li Summer 2009, Northeast Nebraska Child Advocacy Center Undergraduate Internship

%h3 Teaching
%ul
	%li Spring 2014, MSS Gender Diversity and Sexuality Studies Certificate 
	%li Spring 2013, MSS Preparing Future Faculty Certificate 
	%li Fall 2012, 22nd Annual Campus-wide Workshops for Graduate Teaching Assistants 
	%li Fall 2011, 21st Annual Campus-wide Workshops for Graduate Teaching Assistants
	%li Fall 2011, Teaching Sociology Seminar, UNL 


%h3 PROFESSIONAL MEMBERSHIPS
%ul
	%li Sociologists for Women in Society (SWS)
	%li American Sociological Association (ASA)
	%li American Men’s Studies Association (AMSA)
	%li Midwest Sociological Society (MSS)
	%li Nebraska Association of Sociology Graduate Students (NASGS)
.todo can include links to these if desired

%h2 PAPERS PRESENTED/TO BE PRESENTED AT CONFERENCES
.todo
	2015
	Tyler, Kimberly A. and Rachel M. Schmitz. “Alcohol Expectancy, Substance Use and Sexual Victimization among Female and Male College Students.” American Sociological Association Annual Meeting. Chicago, IL. August 22-25.

	2015
	Tyler, Kimberly A. and Rachel M. Schmitz. “Protective Behavioral Strategies and Alcohol Use among  Female and Male College Students.” American Sociological Association Annual Meeting. Chicago, IL. August 22-25.

	2015
	Schmitz, Rachel M. and Kimberly A. Tyler. “Homeless Young People’s Experiences of Caregiver Rejection.” Alpha Kappa Delta Qualitative Symposium. University of Nebraska-Omaha. October 30.

	2014
	Schmitz, Rachel M. “Reshaping Constructions of Men as Fathers: A Content Analysis of Formulations of Fatherhood in Parenting Magazines.” American Sociological Association Annual Meeting. San Francisco, CA. August 16-19.

	2014
	Schmitz, Rachel M. Discussant for Invited Session on Homelessness. American Sociological Association Annual Meeting. San Francisco, CA. August 16-19.

	2014
	Schmitz, Rachel M. and Elizabeth A. Richardson. “Transcending Gender: Men’s Experiences Taking Women’s and Gender Studies Courses.” Midwest Sociological Society Annual Meeting. Omaha, NE. April 3-6.

	2014
	Schmitz, Rachel M. and Elizabeth A. Richardson. Organizer of formal paper session 	“Towards the Inclusion of Men and Masculinities in Gender Studies.” Midwest _	Sociological Society Annual Meeting. Omaha, NE. April 3-6.

	2014
	Schmitz, Rachel M. and Kimberly A. Tyler. “Homeless Young People’s Gendered Experiences of Caregiver Rejection.” Midwest Sociological Society Annual Meeting. Omaha, NE. April 3-6.

	2014
	Schmitz, Rachel M. “Transcending Gender: Men’s Experiences Taking Women’s and Gender Studies Courses.” American Men’s Studies Association Annual Meeting. Tacoma, WA. March 27-29.

	2014
	Schmitz, Rachel M. Moderator of Session on Masculinities. American Men’s Studies Association Annual Meeting. Tacoma, WA. March 27-29.

	2013
	Tyler, Kimberly A. and Rachel M. Schmitz. “Effects of Abusive Parenting, Caretaker Arrests, and Delinquent Behavior on Dating Violence Perpetration among Homeless Young Adults.” American Society for Criminology Meetings. Atlanta, GA. November 20-23.

	2013
	Schmitz, Rachel M. “In The Numerical Minority: Men’s Experiences Navigating Women’s and Gender Studies Courses.” Men at Nebraska Poster Presentation. University of Nebraska-Lincoln. November 7.

	2013
	Schmitz, Rachel M. “Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young Adult Homelessness.” Research Fair Poster Presentation. University of Nebraska-Lincoln. April 10.

	2013
	Schmitz, Rachel M. “Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young Adult Homelessness.” Midwest Sociological Society Annual Meeting. Chicago, IL. March 27-30.

	2013
	Schmitz, Rachel M. and Kimberly A. Tyler. Organizer of formal paper session “Exploring the Realm of Dating and Partner Violence and its Social 	Ramifications.” Midwest Sociological Society Annual Meeting. Chicago, IL. March 27-	30.

	2013
	Schmitz, Rachel M. “’Forging Elite Fitness’: Exploring the CrossFit Phenomenon Through a Gendered Lens.” No Limits Student Conference. University of Nebraska-Lincoln. March 1-2.

	2012
	Schmitz, Rachel M., Patrick Habecker, Alexis Swendener and Sarah Malone. “Transforming Introductory Sociology Discussion Sections to a Mixed Mode Electronic Format.” Southern Sociological Society Annual Meeting. New Orleans, LA. March 21-24.

	2012
	Schmitz, Rachel M. “All You Need is Sex: Charlotte Perkins Gilman, Feminist Pragmatism and Contemporary Mass Media.” Midwest Sociological Society Annual Meeting. Minneapolis, MN. March 29-April 1.

	2012
	Schmitz, Rachel M., Patrick Habecker, Alexis Swendener and Sarah Malone. “A Comparison of Recitation Section Delivery Methods: Classroom vs. Online.” Midwest Sociological Society Annual Meeting. Minneapolis, MN. March 29-April 1.

	2012
	Melander, Lisa A., Kimberly A. Tyler and Rachel M. Schmitz. “Substance Use Behavior among Homeless Youth and Their Social Networks.” Midwest Sociological Society Annual Meeting. Minneapolis, MN. March 29-April 1.

	2009
	Schmitz, Rachel M. “Living Latino/a in the Midwest: An Analysis of Cultural Perspectives Through the Lens of Latino-owned Businesses.” Nebraska Undergraduate Sociological Symposium. University of Nebraska-Kearney. 


%h2 DEPARTMENTAL PRESENTATIONS

.todo
	2012
	Schmitz, Rachel M. “Tentative Transitions and Gendered 	Pathways: Exploring the Revolving Door of Young Adult Homelessness.” Sociology Departmental Poster Session, 	UNL. September 7.

	2012
	Schmitz, Rachel M. “All You Need is Sex: Charlotte Perkins Gilman, Feminist Pragmatism and Contemporary Mass Media” Sociology Departmental Colloquium, UNL. March 15.

%h2 ACADEMIC SERVICE

.todo
	Spring 2014, Academic Undergraduate Letter of Recommendation 

	Fall 2013-Spring 2014, NASGS Vice-President 

	Ad Hoc Journal Reviews

	Spring 2015
	Journal of Interpersonal Violence
	Spring 2014
	World Medical & Health Policy
	Fall 2013
	Sociological Inquiry
	Spring 2013
	Sex Roles
	Fall 2012 	
	Qualitative Sociology
	Nebraska Undergraduate Sociological Symposium (NUSS)
	Fall 2013 Graduate Student Panel at Midland University
	Fall 2012 Graduate Student Panel at Wesleyan University


%h2 COMMUNITY SERVICE
.todo
	Spring 2015, Volunteered as a Street Outreach worker for at-risk youth agency CEDARS. Lincoln, NE


%h2 HONORS AND ACHIEVEMENTS
.todo
	Spring 2014, Department of Sociology Graduate Student Paper Award 
	Spring 2014, Cheryl Applegate Instructor Award from UNL Sociology Department 
	Spring 2014, UNL Office of Graduate Studies Travel Award 
	Spring 2014, Alice Frost Howard Fellowship from UNL Sociology Department 
	Spring 2014, Joyce Hertzler Award from UNL Sociology Department 
	Spring 2013, Nicholas Babchuk Research Award from UNL Sociology Department 
	Spring 2013, Dean’s Fellowship from UNL 
	Spring 2013, Karen Dunning Women's and Gender Studies Award
	Fall 2012-Spring 2013, Graduate Research Assistantship 
	Spring 2012, J.J. and Eleanor S. Ogle Summer Fellowship 
	Fall 2011-Spring 2013, Chancellor’s Fellowship from UNL 
	Fall 2011-Spring 2012, Graduate Teaching Assistantship 
	Spring 2010, Second place in the Undergraduate Student Paper Competition for MSS 
	Fall 2009, First place in paper competition at NUSS 
	Spring 2009, Outstanding Student in Sociology from Wayne State College
	Spring 2009, Paper competition award from the Midwest Sociologists for Women in Society 
	Spring 2008-Spring 2009, Sigma Delta Pi Honor Society 
	Spring 2008-Spring 2009, Pi Gamma Mu Honor Society 
	Fall 2009-Fall 2010, Phi Kappa Phi Honor Society 
	Fall 2009, J.G.W. Lewis Memorial Scholarship from WSC 
	Fall 2008-Spring 2009, Wayne State College (WSC) Sociology Program Scholarship
	Fall 2008-Spring 2009, Special Abilities Spanish Scholarship from WSC 
	Fall 2008-Spring 2009, Special Abilities Language and Literature Scholarship from WSC 
	Fall 2006-Spring 2007, Carhart Scholarship from WSC 
