.companions
	%h2 4-Legged Companions
	.pets
		.roxy.pet
			=image_tag('/images/rocky-new.jpg')
			%p.caption Roxy
		.lucy.pet
			=image_tag('/images/looter.jpg')
			%p.caption Lucy
		.sweetpea.pet
			=image_tag('/images/peayah.jpg')
			%p.caption Sweet Pea
		.izzy.pet
			=image_tag('/images/izzy-10-15.jpg')
			%p.caption Izzy