.banner
	=image_tag('images/genderstudies.jpg')
.pubs
	%h2.allcaps Refereed Publications
	.publication
		%p
			%span.date 2016
			%br
			%b Schmitz, Rachel M.
			=link_to '“Constructing Men as Fathers: A Content Analysis of Formulations of Fatherhood in Parenting Magazines.”', "http://men.sagepub.com/content/early/2016/01/12/1060826515624381", target: "_blank"
			%i The Journal of Men’s Studies.
			DOI: 10.1177/1060826515624381.

		%p
			%span.date 2015
			%br
			Tyler, Kimberly A.,
			%b Rachel M. Schmitz.
			=link_to "“Effects of Abusive Parenting, Caretaker Arrests, and Delinquent Behavior on Dating Violence among Homeless Young Adults.”", "http://www.tandfonline.com/doi/abs/10.1080/10926771.2015.1079287#.VnDtVRorLUI", target: "_blank"
			%i Journal of Aggression, Maltreatment and Trauma.
			DOI 10.1080/10926771.2015.1079287.

		%p
			%span.date 2015
			%br
			Melander, Lisa A., Kimberly A. Tyler and
			%b Rachel M. Schmitz.
			=link_to "“An Inside Look at Homeless Youths’ Social Networks: Perceptions of Substance Use Norms.”", "http://www.tandfonline.com/doi/abs/10.1080/1067828X.2014.918003#.VnDtrBorLUI", target: "_blank"
			%i Journal of Child & Adolescent Substance Abuse.

		%p
			%span.date 2015
			%br
			Tyler, Kimberly A.,
			%b Rachel Schmitz
			and Scott A. Adams.
			=link_to "“Alcohol Expectancy, Substance Use and Sexual Victimization among Female and Male College Students.”", "http://jiv.sagepub.com/content/early/2015/06/29/0886260515591280", target: "_blank"
			%i Journal of Interpersonal Violence.
			DOI: 10.1177/0886260515591280.

		%p
			%span.date 2015
			%br
			Scherrer, Kristin S., Emily Kazyak, and
			%b Rachel Schmitz.
			=link_to "“Getting ‘Bi’ in the Family: Bisexual People’s Disclosure Experiences.”", "http://onlinelibrary.wiley.com/doi/10.1111/jomf.12190/abstract", target: "_blank"
			%i Journal of Marriage and Family
			DOI:10.1111/jomf.12190

		%p
			%span.date 2014
			%br
			%b Schmitz, Rachel M.
			, and Kimberly A. Tyler.
			=link_to "“Homeless Young People’s Experiences of Caregiver Rejection.”", "http://link.springer.com/article/10.1007/s10826-014-0062-x", target: "_blank"
			%i Journal of Child and Family Studies
			&#58; 1-12.

		%p
			%span.date 2013
			%br
			Tyler, Kimberly A., and
			%b Rachel M. Schmitz.
			=link_to "“Family Histories and Multiple Transitions Among Homeless Young Adults: Pathways to Homelessness.”" , "http://digitalcommons.unl.edu/sociologyfacpub/240/", target: "_blank"
			%i Child and Youth Services Review
			35:1719-1726.

	%hr

	%h2.allcaps Forthcoming
	.publication
		%p
			Tyler, Kimberly A., Ray Handema,
			%b Rachel M. Schmitz
			, Charles Wood, Francis Phiri and Kourtney Kuyper. “Multi-Level Risk and Protective Factors for Substance Use among Zambian Street Youth”
			%i Substance Use & Misuse.

		%p
			%b Schmitz, Rachel M.
			“Intersections of Hate: Exploring the Transecting Dimensions of Race, Religion, Gender and Family in Ku Klux Klan Websites.”
			%i Sociological Focus.

	%hr
	%h2.allcaps Revise and Resubmit
	.publication
		%p
			%b Schmitz, Rachel M.
			, Elizabeth A. Richardson and Emily Kazyak. “Checking Privilege at the Door: Men’s Reflections on Masculinity in Women’s and Gender Studies Courses.”
			%i Gender & Education.

		%p
			Tyler, Kimberly A., Ray Handema,
			%b Rachel M. Schmitz
			, Francis Phiri, Charles Wood and Kristen Olson. “Risk Factors for HIV among Zambian Street Youth.”
			%i Journal of HIV/AIDS & Social Services.

	%hr

	%h2.allcaps Papers Under Review
	%p
		Tyler, Kimberly A.,
		%b Rachel M. Schmitz
		, Scott A. Adams and Elizabeth A. Richardson. “Protective Behavioral Strategies and Alcohol Use among Female and Male College Students.”
		%i Journal of American College Health

	%p
		%b Schmitz, Rachel M.
		and Kimberly A. Tyler. “Growing Up Before Their Time: The Early Adultification Experiences of Homeless Young People.”
		%i Children and Youth Services Review

	%hr

	.typing-bruce
		=image_tag('images/typing-bruce.gif')


	%h2.allcaps Papers In Progress
	.publication
		%p
			%b Schmitz, Rachel M.
			and Emily Kazyak. “Masculinities in Cyberspace: An Analysis of Portrayals of Manhood in Men’s Rights Activist Websites.”
		%p
			%b Schmitz, Rachel M.
			and Trenton M. Haltom. “'I Wanted to Raise my Hand and Say I’m Not a Feminist’: Men Negotiating Attachments to Feminism and Gender Studies.”

