.banner
	=image_tag('images/genderstudies.jpg')
.pubs
	%h2.allcaps Refereed Publications
	.publication
		%p
			%span.date 2015
			%br
			Tyler, Kimberly A.,
			%b Rachel Schmitz
			and Scott A. Adams.
			=link_to "“Alcohol Expectancy, Substance Use and Sexual Victimization among Female and Male College Students.”", "http://jiv.sagepub.com/content/early/2015/06/29/0886260515591280", target: "_blank"
			%i Journal of Interpersonal Violence.
			DOI: 10.1177/0886260515591280.

		%p
			%span.date 2015
			%br
			Scherrer, Kristin S., Emily Kazyak, and
			%b Rachel Schmitz.
			=link_to "“Getting ‘Bi’ in the Family: Bisexual People’s Disclosure Experiences.”", "http://onlinelibrary.wiley.com/doi/10.1111/jomf.12190/abstract", target: "_blank"
			%i Journal of Marriage and Family
			DOI:10.1111/jomf.12190

		%p
			%span.date 2014
			%br
			%b Schmitz, Rachel M.
			, and Kimberly A. Tyler.
			=link_to "“Homeless Young People’s Experiences of Caregiver Rejection.”", "http://link.springer.com/article/10.1007/s10826-014-0062-x", target: "_blank"
			%i Journal of Child and Family Studies
			&#58; 1-12.

		%p
			%span.date 2013
			%br
			Tyler, Kimberly A, and
			%b Rachel M. Schmitz.
			=link_to "“Family Histories and Multiple Transitions Among Homeless Young Adults: Pathways to Homelessness.”" , "http://digitalcommons.unl.edu/sociologyfacpub/240/", target: "_blank"
			%i Child and Youth Services Review
			35:1719-1726.

	%hr

	%h2.allcaps Forthcoming Publications
	.publication
		%p
			Tyler, Kimberly A.,
			%b Rachel M. Schmitz.
			“Effects of Abusive Parenting, Caretaker Arrests, and Delinquent Behavior on Dating Violence among Homeless Young Adults.”
			%i Journal of Aggression, Maltreatment and Trauma.
			DOI 10.1080/10926771.2015.1079287.

		%p
			%b Schmitz, Rachel M.
			“Intersections of Hate: Exploring the Transecting Dimensions of Race, Religion, Gender and Family in Ku Klux Klan Websites.”
			%i Sociological Focus.

		%p
			Melander, Lisa A., Kimberly A. Tyler and
			%b Rachel M. Schmitz.
			“An Inside Look at Homeless Youths’ Social Networks: Perceptions of Substance Use Norms.”
			%i Journal of Child & Adolescent Substance Abuse.

		%p
			%b Schmitz, Rachel M.
			“Constructing Men as Fathers: A Content Analysis of Formulations of Fatherhood in Parenting Magazines.” Submitted revise and resubmit to
			%i The Journal of Men’s Studies

	%hr
	%h2.allcaps Papers Under Review
	.publication
		%p
			Tyler, Kimberly A.,
			%b Rachel M. Schmitz
			and Elizabeth A. Richardson. “The Mediating Effect of Protective Behavioral Strategies on Peer Drinking and Alcohol Consumption among College Students.” Submitted to
			%i Addictive Behaviors
			July 22, 2015.

		%p
			Kimberly A. Tyler, Ray Handema,
			%b Rachel M. Schmitz
			, Charles Wood, Francis Phiri and Kourtney Kuypers. “Motivations for Substance Use among High-Risk Youth in Zambia.” Revise and resubmit to
			%i Substance Use & Misuse
			July 13, 2015.

		%p
			Kimberly A. Tyler, Ray Handema,
			%b Rachel M. Schmitz
			, Francis Phiri, Charles Wood and Kristen Olson. “Risk Factors for Substance Use and HIV among Zambian Street Youth.” Submitted to
			%i AIDS & Behavior.
			July 12, 2015.

		%p
			%b Schmitz, Rachel M.
			, Elizabeth A. Richardson and Emily Kazyak. “Checking Privilege at the Door: Men’s Disruption of Hegemonic Masculinity in Women’s and Gender Studies Courses.” Submitted to
			%i Gender & Education.
			June 29, 2015.

		%p
			%b Schmitz, Rachel M.
			and Kimberly A. Tyler. “Growing Up Before Their Time: The Early Adultification Experiences of Homeless Young People.” Submitted to
			%i Youth & Society.
			June 4, 2015.

	%hr

	.typing-bruce
		=image_tag('images/typing-bruce.gif')

	%h2.allcaps Papers In Progress
	.publication

		%p
			%b Schmitz, Rachel M.
			“Masculinities in Cyberspace: An Analysis of Portrayals of Manhood in Men’s Rights Websites.”
			To be submitted to
			%i Journal of Gender Studies.



