%h2.allcaps Research Experience
.experience
	%p
		%span.date Summer 2015-Present
		%br
		Conducted 46 face-to-face qualitative interviews with LGBT college and homeless young adults for dissertation project
		%i “LGBT Young Adults Research Study”
		%br
		%span.pi Primary Investigator: Rachel M. Schmitz

	%p
		%span.date Fall 2014-Present
		%br
		Assisted with primary data collection
		%i “Homeless Youth and Young Adult Project”
		using face-to-face interviews.
		%br
		%span.pi Primary Investigator: Dr. Kimberly Tyler

	%p
		%span.date Spring 2015
		%br
		Responsible for coding variables, psychometric properties, scale construction, and multivariate modeling using SPSS and Stata
		%br
		%span.pi Primary Investigator: Dr. Kimberly Tyler

	%p
		%span.date Fall 2014
		%br
		Assisted with Ecological Momentary Assessment (EMA) methods using short message service (SMS) surveying
		%br
		%span.pi Primary Investigator: Dr. Kimberly Tyler

	%p
		%span.date Summer 2014
		%br
		Assisted with Homeless Youth and Young Adult Project survey construction
		%br
		%span.pi Primary Investigator: Dr. Kimberly Tyler

	%p
		%span.date Fall 2013-Spring 2014
		%br
		Assisted with survey data collection
		%i “A Survey of Undergraduate Students’ Attitudes and Experiences”
		%br
		%span.pi Primary Investigator: Dr. Kimberly Tyler
		%ul
			%li Administered surveys to undergraduates
			%li “Cleaned” surveys

	%p
		%span.date Spring 2013-Fall 2013
		%br
		Men and Gender Studies Project
		%br
		%span.pi Project Advisor: Dr. Janice Deeds
		%ul
			%li Conducted in-depth, face to face interviews
			%li Transcribed audio interviews
			%li Systematically coded interviews using computer software QDA Miner

	%p
		%span.date Spring 2012-Spring 2013
		%br
		Master’s Thesis Research:
		%i “Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young Adult Homelessness”
		%ul
			%li Qualitative data analysis of interviews with homeless youth

	%p
		%span.date Fall 2012-Summer 2013
		%br
		Research Assistant for Dr. Emily Kazyak
		%ul
			%li Assisted with recruitment procedures for same-sex parenting and law study
			%li Coded qualitative data in Nvivo
			%li Collaborated on preparing a manuscript for publication

	%p
		%span.date Fall 2011-Spring 2012
		%br
		Advanced Research Methods I & II
		%ul
			%li Worked with Stata
			%li Explored advanced statistical theories

	%p
		%span.date Spring 2012
		%br
		Assisted with Data Analysis, UNL
		%span.pi Graduate Advisor: Dr. Kimberly Tyler
		%ul
			%li Research on homeless youth in the Midwest

	%p
		%span.date Summer-Fall 2009
		%br
		Conducted Honors Project Research, Wayne State College
		%br
		%span.pi Undergraduate Advisor: Dr. Monica Snowden
		%ul
			%li Interviewed Latino business owners in Midwestern town
			%li Compiled findings into research article
