.banner

%h2.allcaps Dissertation Research Questions:
%ol
	%li How do LGBT young adults navigate their current life course trajectories and family and peer relationships in various social contexts?
	%li How do the experiences of homeless LGBT young adults and those enrolled in college compare and contrast along the lines of sexual and gender identity-related challenges?

%hr
%h2.allcaps Current Research Projects

.image.right
	=image_tag('images/rainbow-nebraska.png')
%p
	As a graduate student in the
	=link_to "Sociology department at the University of Nebraska-Lincoln,", "http://soc.unl.edu"
	I have learned that understanding human behavior can only be achieved by integrating
	%b empirical research, education and social justice.
	Working as a research assistant (RA) has afforded me the opportunity to publish several scholarly articles and participate in the collection and analysis of primary data. My research has focused on the unique experiences of extremely
	%b disenfranchised groups
	in distinct social settings. My dissertation proposal, which has been approved by my dissertation committee,
	%b examines gender and sexuality among the underrepresented groups of lesbian, gay, bisexual and transgender (LGBT) homeless young adults and LGBT college students.
	I aim to study how these social identifiers shape their life experiences in unique ways. Specifically,
	%b I will examine how LGBT young people with distinctive backgrounds navigate their identities, social contexts and family and peer networks.

	%p
		%b
			My multiple research projects, publications and coursework for my Women’s and Gender Studies (WGS) specialization highlight my ability to successfully carry out my dissertation research.

.image.left
	=image_tag('images/sitting.jpg')

%p
	Reading young adults’ accounts of their exits from their homes and everyday struggles for survival allowed me to formulate understandings of homelessness as not only a social problem, but one that is shaped by individual traits, such as gender and sexual orientation. Through a secondary analysis of qualitative data on homeless youths’ life histories for my Master’s thesis, I examined how these young people prematurely adopt adult-like statuses and experience caregiver rejection. The
	=link_to "caregiver rejection paper", "http://link.springer.com/article/10.1007/s10826-014-0062-x", target: "_blank"
	from my thesis has already been accepted for publication.
%p
	For my
	%b Doctoral dissertation,
	I will collect my own data through in-depth, face-to-face interviews with both LGBT homeless young adults and LGBT college students. While these two groups are at greater risk for discrimination and victimization and they reside in similar developmental periods, their social contexts create disparate access to resources and opportunities. Therefore, the differences in LGBT young adult experiences based on environments must be examined to tailor services for these underserved populations.
%p
	Through my experience as an RA, I have gained invaluable insight into the
	%b development, execution and analysis of primary data
	that will assist me in my dissertation research. Being on the ground level of a study on homeless youths’ family backgrounds and substance use behaviors has expanded my knowledge regarding accessing hidden and difficult to reach populations. I have learned about the intricacies of asking about sensitive subjects (i.e. drug use and child abuse) both on paper surveys and through in-person interviews among homeless and college young adult samples. My work as an RA has helped me hone my
	%b data analytic skills with various statistical programs for quantitative data analysis
	(e.g., SPSS and Stata).
%p
	My
	%b independent research exploring men’s experiences in WGS classes
	has helped me to understand the gaps in the teaching of gendered issues within higher education. To fully address social gender inequality, it is vital to engage with a broader segment of students at the university level. I found that exposure to gendered issues expands one’s social consciousness. This research experience helped me to refine my face-to-face interviewing skills and my knowledge of rigorous qualitative data collection and analysis.
%p
	As I plan to graduate in the Spring of 2016, my final year completing my dissertation is crucial in further developing my publication record and enhancing my opportunities on the job market. Combined, this work will put me in a solid position to obtain a job in academia. My research agenda will expand both public and academic knowledge of disenfranchised social groups, such as homeless youth and LGBT young adults, so as to increase social resources aimed at improving their quality of life and well-being.

%hr
= render "partials/research_experience"