.banner

.todo list research: highlight dissertation, men and gender studies, master thesis, content analyses

.todo links to publications/pdfs

%h2.allcaps Dissertation Research Questions:
%ul
	%li How do LGBT young adults navigate their current life course trajectories and family and peer relationships in various social contexts? 
	%li How do the experiences of homeless LGBT young adults and those enrolled in college compare and contrast along the lines of sexual and gender identity-related challenges? 

%h2.allcaps Recent Submissions for Funding
.image.right
	=image_tag('images/social-groups.jpg')
%p As a graduate student in the Sociology department at the University of Nebraska-Lincoln, I have learned that understanding human behavior can only be achieved by integrating empirical research, education and social justice. Working as a research assistant (RA) has afforded me the opportunity to publish several scholarly articles and participate in the collection and analysis of primary data. My research has focused on the unique experiences of extremely disenfranchised groups in distinct social settings. My dissertation proposal, which has been approved by my dissertation committee, examines gender and sexuality among the underrepresented groups of lesbian, gay, bisexual and transgender (LGBT) homeless young adults and LGBT college students. I aim to study how these social identifiers shape their life experiences in unique ways. Specifically, I will examine how LGBT young people with distinctive backgrounds navigate their identities, social contexts and family and peer networks. My multiple research projects, publications and coursework for my Women’s and Gender Studies (WGS) specialization highlight my ability to successfully carry out my dissertation research.

%p Reading young adults’ accounts of their exits from their homes and everyday struggles for survival allowed me to formulate understandings of homelessness as not only a social problem, but one that is shaped by individual traits, such as gender and sexual orientation. Through a secondary analysis of qualitative data on homeless youths’ life histories for my Master’s thesis, I examined how these young people prematurely adopt adult-like statuses and experience caregiver rejection. The caregiver rejection paper from my thesis has already been accepted for publication. For my Doctoral dissertation, I will collect my own data through in-depth, face-to-face interviews with both LGBT homeless young adults and LGBT college students. While these two groups are at greater risk for discrimination and victimization and they reside in similar developmental periods, their social contexts create disparate access to resources and opportunities. Therefore, the differences in LGBT young adult experiences based on environments must be examined to tailor services for these underserved populations. 
%p Through my experience as an RA, I have gained invaluable insight into the development, execution and analysis of primary data that will assist me in my dissertation research. Being on the ground level of a study on homeless youths’ family backgrounds and substance use behaviors has expanded my knowledge regarding accessing hidden and difficult to reach populations. I have learned about the intricacies of asking about sensitive subjects (i.e. drug use and child abuse) both on paper surveys and through in-person interviews among homeless and college young adult samples. My work as an RA has helped me hone my data analytic skills with various statistical programs for quantitative data analysis (e.g., SPSS and Stata).
%p My independent research exploring men’s experiences in WGS classes has helped me to understand the gaps in the teaching of gendered issues within higher education. To fully address social gender inequality, it is vital to engage with a broader segment of students at the university level. I found that exposure to gendered issues expands one’s social consciousness. This research experience helped me to refine my face-to-face interviewing skills and my knowledge of rigorous qualitative data collection and analysis.
%p Being honored with a fellowship would allow me greater flexibility in achieving my dissertation research goals of primary data collection and analysis, while also preparing my numerous research projects for publication. As I plan to graduate in the Spring of 2016, my final year completing my dissertation is crucial in further developing my publication record and enhancing my opportunities on the job market. Combined, this work will put me in a solid position to obtain a job in academia. My research agenda will expand both public and academic knowledge of disenfranchised social groups, such as homeless youth and LGBT young adults, so as to increase social resources aimed at improving their quality of life and well-being.   

%h2.allcaps Research Experience
.todo
	Fall 2014-Present, Assisted with primary data collection “Homeless Youth and Young Adult Project” using face-to-face interviews 
	Primary Investigator: Dr. Kimberly Tyler

	Spring 2015, Responsible for coding variables, psychometric properties, scale construction, and multivariate modeling using SPSS and Stata 
	Primary Investigator: Dr. Kimberly Tyler

	Fall 2014, Assisted with Ecological Momentary Assessment (EMA) methods using short 	message service (SMS) surveying 
	Primary Investigator: Dr. Kimberly Tyler

	Summer 2014, Assisted with Homeless Youth and Young Adult Project survey construction 
	Primary Investigator: Dr. Kimberly Tyler

	Fall 2013-Spring 2014, Assisted with survey data collection “A Survey of Undergraduate 	Students’ Attitudes and Experiences” 
	Primary Investigator: Dr. Kimberly Tyler
	Administered surveys to undergraduates
	“Cleaned” surveys

	Spring 2013-Fall 2013, Men and Gender Studies Project 
	Project Advisor: Dr. Janice Deeds
	Conducted in-depth, face to face interviews
	Transcribed audio interviews
	Systematically coded interviews using computer software QDA Miner

	Spring 2012-Spring 2013 Master’s Thesis Research 
	“Tentative Transitions and Gendered Pathways: Exploring the Revolving Door of Young 	Adult Homelessness”
	Qualitative data analysis of interviews with homeless youth

	Fall 2012-Summer 2013, Research Assistant for Dr. Emily Kazyak 
	Assisted with recruitment procedures for same-sex parenting and law study
	Coded qualitative data in Nvivo
	Collaborated on preparing a manuscript for publication

	Fall 2011-Spring 2012, Advanced Research Methods I & II 
	Worked with Stata
	Explored advanced statistical theories

	Spring 2012, Assisted with Data Analysis, UNL 
	Graduate Advisor: Dr. Kimberly Tyler
	Research on homeless youth in the Midwest

	Summer-Fall 2009, Conducted Honors Project Research, Wayne State College 
	Undergraduate Advisor: Dr. Monica Snowden
	Interviewed Latino business owners in Midwestern town
	Compiled findings into research article

%h2 REFEREED PUBLICATIONS 
.todo
	2014	
	Schmitz, Rachel M., and Kimberly A. Tyler. “Homeless Young People’s 
	Experiences of Caregiver Rejection.” Journal of Child and Family Studies. DOI 
	10.1007/s10826-014-0062-x.

	2013	
	Tyler, Kimberly A, and Rachel M. Schmitz. "Family Histories and Multiple 
	Transitions Among Homeless Young Adults: Pathways to Homelessness." Child and 
	Youth Services Review 35:1719-1726.
			
%h2 FORTHCOMING
.todo
	Schmitz, Rachel M. “Intersections of Hate: Exploring the Transecting Dimensions of Race, Religion, Gender and Family in Ku Klux Klan Websites.” Sociological Focus.

	Scherrer, Kristin S., Emily Kazyak and Rachel M. Schmitz. “Getting ‘Bi’ in the Family: 
	Bisexual People’s Disclosure Strategies Within the Family.” Journal of Marriage and 
	Family.

	Melander, Lisa A., Kimberly A. Tyler and Rachel M. Schmitz. “An Inside Look at Homeless 
	Youths’ Social Networks: Perceptions of Substance Use Norms.” Journal of Child & 
	Adolescent Substance Abuse.

%h2 PAPERS UNDER REVIEW
.todo
	Schmitz, Rachel M. and Kimberly A. Tyler. “Growing Up Before Their Time: The Early Adultification Experiences of Homeless Young People.” Submitted to Journal of Youth Studies December 25, 2014.

	Tyler, Kimberly A. and Rachel M. Schmitz. “Effects of Abusive Parenting, Caretaker Arrests, and Delinquent Behavior on Dating Violence among Homeless Young Adults.” Submitted to Journal of Aggression, Maltreatment and Trauma December 21, 2014.

	Tyler, Kimberly A. and Rachel M. Schmitz. “Alcohol Expectancy, Substance Use and Sexual Victimization among Female and Male College Students.” Submitted to Journal of Interpersonal Violence February 23, 2015.

%h2 PAPERS IN PROGRESS
.todo
	Schmitz, Rachel M. “Reshaping Constructions of Men as Fathers: A Content Analysis of Formulations of Fatherhood in Parenting Magazines.” To be submitted to Journal of Men’s Studies.

	Schmitz, Rachel M., Elizabeth A. Richardson and Emily Kazyak. “Checking Privilege at the Door: Men’s Disruption of Hegemonic Masculinity in Women’s and Gender Studies Courses.” To be submitted to Men and Masculinities.

	Tyler, Kimberly A., Rachel M. Schmitz and Elizabeth A. Richardson. “The Mediating Effect of Protective Behavioral Strategies on Peer Drinking and Alcohol Consumption among College Students.” To be submitted to Journal of Studies on Alcohol. 

	Kimberly A. Tyler, Ray Handema, Rachel M. Schmitz, Charles Wood, Francis Phiri and Kourtney Kuypers. “Motivations for Substance Use among High-Risk Youth in Zambia.” To be submitted to Substance Use & Misuse. 