.banner
	=image_tag('images/te-write-long.gif')

%h1.allcaps Courses Taught 
%ul
	%li SOC 225 - Marriage and Family
	%li SOC 200 - Gender in Contemporary Society
	%li SOC 101 - Recitation for Intro to Sociology

%h1.allcaps Teaching Experience
.teaching
	%dl
		%dt 
			%span.date Summer 2015
			%br
			Instructor for Sociology 200 Gender in Contemporary Society, UNL 
		%dd Planned and implemented daily lectures and assignments
		%dd	Organized and mediated class discussions and activities
	%dl
		%dt 
			%span.date Fall 2014
			%br
			Guest Lecture for Sociology Senior Seminar, UNL 
		%dd Lectured on qualitative methods
	%dl
		%dt 
			%span.date Summer 2014
			%br
			Instructor for Sociology 225 Marriage and Family, UNL 
		%dd Planned and implemented daily lectures and assignments
		%dd	Organized and mediated class discussions and activities

	%dl
		%dt 
			%span.date Spring 2014
			%br
			Instructor for Sociology 225 Marriage and Family Online, UNL 
		%dd Managed and graded for online-based classwork

	%dl
		%dt 
			%span.date Spring 2014
			%br
			Guest Lecture for Sociology Senior Seminar, UNL 
		%dd Lectured on qualitative methods and research projects

	%dl
		%dt 
			%span.date Spring 2014
			%br
			Instructor for Sociology 225 Marriage and Family, UNL 
		%dd Planned and implemented daily lectures and assignments
		%dd Organized and mediated class discussions and activities

	%dl
		%dt 
			%span.date Fall 2013
			%br
			Guest Lecture for Sociology Senior Seminar, UNL 
		%dd Lectured on qualitative methods

	%dl
		%dt 
			%span.date Fall 2013
			%br
			Instructor for Sociology 225 Marriage and Family, UNL
		%dd Planned and implemented daily lectures and assignments
		%dd Organized and mediated class discussions and activities

	%dl
		%dt 
			%span.date Fall 2013
			%br
			Instructor for Sociology 225 Marriage and Family Online, UNL
		%dd Managed and graded for online-based classwork

	%dl
		%dt 
			%span.date Summer 2013
			%br
			Instructor for Sociology 225 Marriage and Family, UNL 
		%dd Planned and implemented daily lectures and assignments	
		%dd Organized and mediated class discussions and activities

	%dl
		%dt 
			%span.date Fall 2012
			%br
			Assistant Grader and Instructor for Sociology 355, UNL 
		%dd Assisted Dr. Emily Kazyak with grading and lecturing
		%dd Organized and delivered lectures

	%dl
		%dt 
			%span.date Spring 2012
			%br
			Recitation Instructor for Sociology 101, UNL 
		%dd Instructor for two recitation groups
		%dd Organized online discussion boards, graded assignments
		%dd Conducted classes in both online and face-to-face formats

	%dl
		%dt 
			%span.date Fall 2011
			%br
			Recitation Instructor for Sociology 101, UNL 
		%dd Instructor for three recitation groups
		%dd Designed class activities, graded assignments

