//
// Application Stylesheet
//

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Bitter|Raleway);

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html, body {
  line-height: 1;
  background-color: white;
  color: #222;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, 
header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.2;
}
a {
  .more {
    white-space: nowrap;
    &::after {
      content: " »";
    }
  }
}
strong, b {
  color: black;
  font-weight: bold;
}
em, i, .italic {
  font-style: italic;
}
abbr, acronym {
  border-bottom: 1px dotted #999999;
}
sub, sup {
  font-size: 85%;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}
span {
  .caps {
    font-size: 95%;
  }
}
h1 {
  font-weight: normal;
  line-height: 1.2;
  margin: 0.75em 0;
}
h2 {
  font-weight: normal;
  line-height: 1.2;
  margin: .5em 0;
}
h3 {
  font-weight: normal;
  line-height: 1.1;
  margin: .5em 0;
}
h4 {
  font-weight: normal;
  margin: 0.5em 0;
}
h5 {
  font-style: italic;
  line-height: 1.1;
  margin: 0.5em 0;
}
h6 {
  font-style: italic;
  line-height: 1.1;
  margin: 0.5em 0;
}
p {
  margin: 1em 0;
  font-size: 16px;
  line-height: 1.4;
}
ul, ol, dl {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 14px;
}
ul, ol, dd {
  padding-left: 1.3em;
}
ul {
  list-style: disc;
}
ul.nodots {
  list-style: none;
  padding-left: 0; /** or 1em; */
}
ol {
  list-style: decimal;
}
li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
dt {
  margin-top: 1em;
}
dd {
  margin-bottom: 1em;
}
code, dfn, kbd, samp, tt {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  color: #585858;
}
pre {
  background: #585858;
  color: #ccc;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
img { 
  width: 100%;
}

/**** quick styles ****/
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
.allcaps {
  text-transform: uppercase;
}
.underlined {
  text-decoration: underline;
}

.black {
  color: #222 !important;
}
.white { 
  color: white !important;
}
.gray {
  color: #ccc;
}
.dark-gray {
  color: #585858;
}
.shadowed {
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

/*** type ***/
h1, h3, h5, h2, h4, h6 {
  font-family: 'Bitter', Georgia, Times, serif;
}
p, a, span {
  font-family: 'Raleway', Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 18px;
}
ul, ol, dl, dt, li {
  font-size: 18px;
}
dd {
  margin-bottom: 0;
}

/** button styles **/
.button {
  &.blue {
    a {
      color: white;
      text-decoration: none;
      background-color: #0099D8;
      &:hover{
        background-color: rgba(115, 184, 248, 1);
      }
      &:active{
        background-color: rgba(34, 126, 211, 1);
      }
    }
  }
  a {
    display: inline-block;
    padding: .8em 1em;
    border-radius: 3px;
  }
}

/** placeholder stuff **/
.todo {
  color: rgba(200, 5, 20, 1);
  padding: 0 15%;
  line-height: 1.4;
}

/** for swapping **/
.swapout { display: none;}
.initial { display: block;}


/*** layout ***/
html {
  /*background: #fff image-url('fabric-bkgd.png');
  background: #fff image-url('handmadepaper.png');
  background: #fff image-url('soft-bkgd.png');*/
  background: #fff image-url('tile-bkgd.png');
}
body {
  color: #242424;
  background-color: transparent;
}
header {
  width: 100%;
  background-color: #f2f2f2;
  @media screen and (min-width: 721px){
    -webkit-box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1),
                              0px 4px 4px 0px rgba(34,34,34,.8);
    -moz-box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1),
                           0px 4px 4px 0px rgba(34,34,34,.8);
    box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1),
                      0px 4px 4px 0px rgba(34,34,34,.8);
  }
  h1 {
    float: left;
    margin-left: 5%;
  }
  nav.menu {
    float: right;
    margin-right:  5%;
    ul {
      margin-top: 1.4em;
      margin-bottom: 0;
      list-style-type: none;
      li {
        display: inline;
        a {

        }
      }
      li~li {
        padding-left: 1em;
      }
    }
  }
  @media screen and (max-width: 720px) {
    nav.menu {
      float: none;
      clear: both;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      ul {
        margin-top: 1.4em;
        list-style-type: none;
        padding-left: 0;
        li {
          transition: background 0.2s ease;
          display: block;
          padding: .5em 1em;
          background: #ddd;
          margin: 0;
          a {

          }
        }
        li:hover,
        li:focus {
          background: #999;
        }
        li~li {
          padding-left: 1em;
        }
      }
    }
  }
}
section[role=main] {
  padding: 0 5%;
  margin: 0 auto;
  margin-bottom: 4em;
  article {
    margin: 2em auto;
  }
}
footer {
  background-color: #f2f2f2;
  @media screen and (min-width: 721px) {
    -webkit-box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1), 
                        0px -4px 4px 0px rgba(34,34,34,1);
    -moz-box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1),
                     0px -4px 4px 0px rgba(34,34,34,1);
    box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1),
                0px -4px 4px 0px rgba(34,34,34,1);
  }
  @media screen and (max-width: 720px) {
    border-top: 1px solid #999;
  }
  padding: 0 5%;
  box-sizing: border-box;
  #unl {
    float: left;
    .unl-link {
      display: block;
      color: transparent;
      width: 75px;
      height: 31px;
      margin-top: 10px;
      background: transparent url('/images/unl_logo.png') no-repeat center;
      background-size: contain;
    }
  }
  small {
    margin-top: 1.4em;
    font-size: 12px;
  }
}

/*** sticky footer ***/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 45px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
}


/*** type ***/
article {
  clear: both;
  h1 {

  }
  h2 {

  }
  h3 {

  }
  p {

  }
  ul {
    li {

    }
  }
  dl {
    dt {
      font-size: 18px;
    }
    dd {
      font-size: 16px;
    }
  }
}

a,
a:link {
  color: #333;
  text-decoration: underline;
}

a:visited,
a:hover,
a:active,
a:focus {
  color: #444;
  text-decoration: none;
}

.date {
  font-weight: bold;
}

.experience {
  p {
    margin-bottom: .25em;
    span.pi {

    }
  }
  ul {
    padding-left: 2.5em;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    li {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

nav, h1 {
  a,
  a:link {
    color: #333;
    text-decoration: none;
  }

  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: #444;
    text-decoration: underline;
  }
}

/*** content ***/
#index,
#about {
  margin: 2em auto;
  padding: 0 11%;
  @media screen and (max-width: 520px) {
    padding: 0;
  }
  h2 {
    @media screen and (max-width: 720px) {
      text-align: center;
    }
  }
  .portrait {
    float: left;
    width: 28%;
    min-width: 180px;
    max-width: 280px;
    @media screen and (max-width: 720px) {
      width: 50%;
      float: none;
      margin: auto;
    }
    img {
      border-radius: 6px;
    }
  }
  .info {
    width: 64%;
    float: right;
    min-width: 300px;
    max-width: 650px;
    @media screen and (max-width: 720px) {
      width: 100%;
      float: none;
    }
  }
}
#teaching {
  margin: 0 auto;
  .banner {
    margin-bottom: 1em;
    @media (max-width:600px) {
      display:none;
      img {
        display:none;
      }
    }
    @media (min-width:601px) {
      background-image: image-url('banner_chalkboard.jpg');
      background-size: cover;
      width: 120%;
      position: relative;
      height: 220px;
      top: 0;
      left: -10%;
      margin-bottom: 1em;
      img {
        width: 455px;
        display: block;
        margin: auto;
        text-align: center;
      }
    }
  }
}
#research {
  @media (min-width:601px) {
    margin: 0 auto;
  }
  .banner {
    @media (max-width:600px) {
      display:none;
      img {
        display:none;
      }
    }
    @media (min-width:601px) {
      background-image: image-url('wordcloud.png');
      background-size: cover;
      width: 100%;
      height: 270px;
      margin-bottom: 1em;
      img {
        width: 455px;
        display: block;
        margin: auto;
        text-align: center;
      }
    }
    @media (min-width:901px) {
      height: 440px;
    }
  }

  .image {
    width: 45%;
    &.left {
      float: left;
      margin: .75em 2em .75em 0;
    }
    &.right{
      float: right;
      margin: .75em 0 .75em 2em;
    }
    @media screen and (max-width: 480px) {
      float: none;
      width: 100%;
      text-align: center;
      margin: 1em auto;
    }
  }
}
#publications{
  .banner {
    @media (max-width:600px) {
      display:none;
      img {
        display:none;
      }
    }
    @media (min-width:601px) {
      width: 100%;
      margin-bottom: 1em;
      img {
        margin: auto;
        text-align: center;
      }
    }
    @media (min-width:901px) {
      img {
        max-height: 400px;
      }
    }
  }
  .typing-bruce {
    margin-top: 1em;
    margin-bottom: 2em;
    border: 12px solid #222;
    border-radius: 12px;
    @media (max-width:620px) {
      display: none;
    }
    @media (min-width:621px) {
      float: right;
      width: 40%;
      margin-left: 5%;
    }
  }
}
#cv {
  @media (min-width:601px) {
    margin: 0 auto;
  }
  h1 {
    font-size: 36px;
  }
  .banner {
    @media (max-width:600px) {
      display:none;
      img {
        display:none;
      }
    }
    @media (min-width:601px) {
      background-image: image-url('banner_books.jpg');
      background-size: cover;
      width: 120%;
      position: relative;
      height: 220px;
      top: 0;
      left: -10%;
      margin-bottom: 1em;
      img {
        width: 455px;
        display: block;
        margin: auto;
        text-align: center;
      }
    }
  }
  .reviews,
  .development {
    padding-left: 1.5em;
  }
}
#contact {
  padding: 0 9%;
  @media screen and (min-width: 850px) {
    padding: 0 20%;
  }
  .contact-info {
    @media screen and (min-width: 601px) {
      float: left;
      width: 50%;
    }
    .logo-unl {
      .unl-link {
        display: block;
        color: transparent;
        width: 125px;
        height: 50px;
        margin-bottom: 1em;
        background: transparent url('/images/unl_logo.png') no-repeat center;
        background-size: contain;
      }
    }
  }
  .image-right {
    width: 40%;
    float: right;
    @media screen and (min-width: 601px){
      max-width: 230px;
    }
    @media screen and (max-width: 600px){
      width: 100%;
      margin-top: 1em;
      float: none;
    }
    img {

    }
  }
}

.pi {
  font-size: 14px;
}


