//
// Application Stylesheet
//

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Bitter|Raleway);

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html, body {
  line-height: 1;
  background-color: white;
  color: #222;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, 
header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.2;
}
a {
  .more {
    white-space: nowrap;
    &::after {
      content: " »";
    }
  }
}
strong, b {
  color: black;
  font-weight: bold;
}
em, i, .italic {
  font-style: italic;
}
abbr, acronym {
  border-bottom: 1px dotted #999999;
}
sub, sup {
  font-size: 85%;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}
span {
  .caps {
    font-size: 95%;
  }
}
h1 {
  font-weight: normal;
  line-height: 1.2;
  margin: 0.75em 0;
}
h2 {
  font-weight: normal;
  line-height: 1.2;
  margin: .5em 0;
}
h3 {
  font-weight: normal;
  line-height: 1.1;
  margin: .5em 0;
}
h4 {
  font-weight: normal;
  margin: 0.5em 0;
}
h5 {
  font-style: italic;
  line-height: 1.1;
  margin: 0.5em 0;
}
h6 {
  font-style: italic;
  line-height: 1.1;
  margin: 0.5em 0;
}
p {
  margin: 1em 0;
  font-size: 16px;
  line-height: 1.2;
}
ul, ol, dl {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 14px;
}
ul, ol, dd {
  padding-left: 1.3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
dt {
  margin-top: 1em;
}
dd {
  margin-bottom: 1em;
}
code, dfn, kbd, samp, tt {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  color: #585858;
}
pre {
  background: #585858;
  color: #ccc;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
img { 
  width: 100%;
}

/**** quick styles ****/
.hidden {
  visibility: hidden;
}
.none {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.centered {
  margin: 0 auto;
  text-align: center;
}
.black {
  color: #222 !important;
}
.white { 
  color: white !important;
}
.gray {
  color: #ccc;
}
.dark-gray {
  color: #585858;
}
.shadowed {
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

/*** type ***/
h1, h3, h5, h2, h4, h6 {
  font-family: 'Bitter', Georgia, Times, serif;
}
p, a, span {
  font-family: 'Raleway', Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 18px;
}
ul, ol, dl, dt, li {
  font-size: 18px;
}


/** button styles **/
.button {
  &.blue {
    a {
      color: white;
      text-decoration: none;
      background-color: #0099D8;
      &:hover{
        background-color: rgba(115, 184, 248, 1);
      }
      &:active{
        background-color: rgba(34, 126, 211, 1);
      }
    }
  }
  a {
    display: inline-block;
    padding: .8em 1em;
    border-radius: 3px;
  }
}

/** placeholder stuff **/
.todo {
  color: rgba(200, 5, 20, 1);
  padding: 0 15%;
  line-height: 1.4;
}

/** for swapping **/
.swapout { display: none;}
.initial { display: block;}


/*** layout ***/
body {
  color: #242424;
}
header {
  width: 100%;
  -webkit-box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1),
                            0px 4px 4px 0px rgba(34,34,34,.8);
  -moz-box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1),
                         0px 4px 4px 0px rgba(34,34,34,.8);
  box-shadow: inset 1.5em 0px 0px 0px rgba(51,51,51,1),
                    0px 4px 4px 0px rgba(34,34,34,.8);
  h1 {
    float: left;
    margin-left: 5%;
  }
  nav.menu {
    float: right;
    margin-right:  5%;
    ul {
      margin-top: 1.4em;
      list-style-type: none;
      li {
        display: inline;
        a {

        }
      }
      li~li {
        padding-left: 1em;
      }
    }
  }
  @media screen and (max-width: 720px) {
    nav.menu {
      float: none;
      clear: both;
      width: 112%;
      margin-left: -6%;
      margin-right: 0;
      ul {
        margin-top: 1.4em;
        list-style-type: none;
        padding-left: 0;
        li {
          transition: background 0.2s ease;
          display: block;
          padding: .5em 1em;
          background: #ddd;
          margin: 0;
          a {

          }
        }
        li:hover,
        li:focus {
          background: #999;
        }
        li~li {
          padding-left: 1em;
        }
      }
    }
  }
}
section[role=main] {
  padding: 0 5%;
  margin-top: 2em;
  article {

  }
}
footer {
  background-color: #fff;
  -webkit-box-shadow: 0px -4px 4px 0px rgba(34,34,34,1);
  -moz-box-shadow: 0px -4px 4px 0px rgba(34,34,34,1);
  box-shadow: 0px -4px 4px 0px rgba(34,34,34,1);
  padding: 0 5%;
  box-sizing: border-box;
  #unl {
    float: left;
    .unl-link {
      display: block;
      color: transparent;
      width: 75px;
      height: 31px;
      margin-top: 10px;
      background: transparent url('/images/unl_logo.jpg') no-repeat center;
      background-size: contain;
    }
  }
  small {
    margin-top: 1.4em;
    font-size: 12px;
  }
}

/*** sticky footer ***/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 45px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
}


/*** type ***/


/*** content ***/
article {
  clear: both;
  h1 {

  }
  h2 {

  }
  h3 {

  }
  p {

  }
  ul {
    li {

    }
  }
  dl {
    dt {

    }
    dl {

    }
  }
}

a,
a:link {
  color: #333;
  text-decoration: underline;
}

a:visited,
a:hover,
a:active,
a:focus {
  color: #444;
  text-decoration: none;
}


#index,
#about {
  .image {
    float: left;
    width: 28%;
    min-width: 180px;
    @media screen and (max-width: 480px) {
      width: 50%;
      float: none;
      margin: auto;
    }
    img {
      border-radius: 6px;
      @media screen and (max-width: 480px) {
        border-radius: 50%;
        -webkit-box-shadow: 5px 3px 1px #666;
        -moz-box-shadow: 5px 3px 1px #666;
        box-shadow: 5px 3px 1px #666;
      }
    }
  }
  .info {
    width: 69%;
    float: right;
    min-width: 300px;
    @media screen and (max-width: 480px) {
      width: 100%;
      float: none;
    }
  }
}
#teaching {}
#research {}
#cv {}
#contact {}

